/* colours */
:root {
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: sans-serif;
   
  }
  
.logo {
    color: var(--color-white);
    font-size: 30px;
  }
  
.logo span {
    color: var(--color-primary);
  }
  
.menu-bar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  
    position: relative;
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
.menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
  
    position: relative;
  }
  
.menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
  
    transition: all 0.3s;
  }
  
.menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  
.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
/* dropdown menu style */
.dropdown-down {
    display: none;
  }
  
.menu-bar ul li:hover .dropdown-down {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
    z-index: 1; /* priority of being in front */
  }
  
.menu-bar ul li:hover .dropdown-down ul {
    display: block;
    margin: 10px;
    z-index: 2; /* priority of being in front */
  }
  
.menu-bar ul li:hover .dropdown-down ul li {
    width: 150px;
    padding: 10px;
    z-index: 3; /* priority of being in front */
  }
  
.dropdown-right {
    display: none;
  }
  
.dropdown-down ul li:hover .dropdown-right {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
  }

.paragraph {
    text-align: left;
    padding: 10px;
    border: transparent;
    margin: 1rem auto;
    width: fit-content;
}

/* --------------------------------------------------------------------------- */
  
#canvas1 { /* game screen */
  position: absolute; 
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 730px;
  border: 2px solid black;
}

#background, #bottom, #flappyBird, #topPipe, #bottomPipe {
  display: none;
}
