* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* navigational bar */

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem; /*1rem = 16 something */
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: Arial, sans-serif;
    font-size: 1.1;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

.stuff {
    text-align: left;
    padding: 10px;
    border: transparent;
    width: 8%;
    margin: 1rem auto;
}