* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* navigational bar */

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem; /*1rem = 16 something */
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: Arial, sans-serif;
    font-size: 1.1;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

.title {
    text-align: center;
}

.upcoming {
    text-align: center;
}

/* formatting images and table cells */

.bwe {
    width: 500px;
}

.bwet {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }

.bwg {
    width: 500px;
}

.bwgt {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }

.lrp {
    width: 500px;
}

.lrpt {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }

.bbk {
    width: 500px;
}

.bbkt {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }

.nhb {
    width: 500px;
}

.nhbt {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }

.bbs {
    width: 500px;
}

.bbst {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }

.cms {
    width: 500px;
}

.cmst {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }

.ams {
    width: 500px;
}

.amst {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }

.aqs {
    width: 500px;
}

.aqst {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }

.sas {
    width: 500px;
}

.sast {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }

.hlg {
    width: 500px;
}

.hlgt {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }

