* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* navigational bar */

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem; /*1rem = 16 something */
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: Arial, sans-serif;
    font-size: 1.1;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

.title {
    text-align: center;
}

.upcoming {
    text-align: center;
}



/* formatting images and table cells */

/*--------------------------------------------------------*/ 
.buarwe {
    padding: 10px;
}

.bwe {
    width: 500px;
}

.bwet {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }
/*--------------------------------------------------------*/
.buarwg {
    padding: 10px;
}

.bwg {
    width: 500px;
}

.bwgt {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }
/*--------------------------------------------------------*/
.alssffab {
    padding: 10px;
}

.lrp {
    width: 500px;
}

.lrpt {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }
/*--------------------------------------------------------*/
.bbktfsls {
    padding: 10px;
}

.bbk {
    width: 500px;
}

.bbkt {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }
/*--------------------------------------------------------*/
.nhbwglss {
    padding: 10px;
}

.nhb {
    width: 500px;
}

.nhbt {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }
/*--------------------------------------------------------*/
.bbspbmsls {
    padding: 10px;
}

.bbs {
    width: 500px;
}

.bbst {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }
/*--------------------------------------------------------*/
.nbssszmsl {
    padding: 10px;
}

.nbs {
    width: 500px;
    
}

.nbst {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }
/*--------------------------------------------------------*/
.nsspwgs {
    padding: 10px;
}

.nss {
    width: 500px;
    
}

.nsst {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }
/*--------------------------------------------------------*/
.cmslpass {
    padding: 10px;
}

.cms {
    width: 500px;
    
}

.cmst {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }
/*--------------------------------------------------------*/
.amssfsss {
    padding: 10px;
}

.ams {
    width: 500px;
}

.amst {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }
/*--------------------------------------------------------*/
.aqspbs {
    padding: 10px;
}

.aqs {
    width: 500px;
}

.aqst {
    float: right;
    margin-right: 500px;
    margin-top: 150px;
  }
/*--------------------------------------------------------*/
.sas {
    width: 500px;
}

.hlg {
    width: 500px;
}

.boj {
    width: 500px;
}


